<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-schedule-heading">Create or edit a Schedule</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!schedule.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="schedule.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dayOfWeek">Day Of Week</label>
                    <input type="number" class="form-control" name="dayOfWeek" id="field_dayOfWeek"
                        [(ngModel)]="schedule.dayOfWeek" min="0" jhiMin="0" max="23" jhiMax="23"/>
                    <div [hidden]="!(editForm.controls.dayOfWeek?.dirty && editForm.controls.dayOfWeek?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dayOfWeek?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dayOfWeek?.errors?.max">
                            This field cannot be more than 23.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.dayOfWeek?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nameDayOfWeek">Name Day Of Week</label>
                    <input type="text" class="form-control" name="nameDayOfWeek" id="field_nameDayOfWeek"
                        [(ngModel)]="schedule.nameDayOfWeek" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_enumDayOfWeek">Enum Day Of Week</label>
                    <select class="form-control" name="enumDayOfWeek" [(ngModel)]="schedule.enumDayOfWeek" id="field_enumDayOfWeek" >
                        <option value="SUNDAY">SUNDAY</option>
                        <option value="MONDAY">MONDAY</option>
                        <option value="TUESDAY">TUESDAY</option>
                        <option value="WEDNESDAY">WEDNESDAY</option>
                        <option value="THURSDAY">THURSDAY</option>
                        <option value="FRIDAY">FRIDAY</option>
                        <option value="SATURDAY">SATURDAY</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_startHour">Start Hour</label>
                    <input type="number" class="form-control" name="startHour" id="field_startHour"
                        [(ngModel)]="schedule.startHour" min="0" jhiMin="0" max="23" jhiMax="23"/>
                    <div [hidden]="!(editForm.controls.startHour?.dirty && editForm.controls.startHour?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.startHour?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.startHour?.errors?.max">
                            This field cannot be more than 23.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.startHour?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endHour">End Hour</label>
                    <input type="number" class="form-control" name="endHour" id="field_endHour"
                        [(ngModel)]="schedule.endHour" min="0" jhiMin="0" max="23" jhiMax="23"/>
                    <div [hidden]="!(editForm.controls.endHour?.dirty && editForm.controls.endHour?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.endHour?.errors?.min">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.endHour?.errors?.max">
                            This field cannot be more than 23.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.endHour?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cost">Cost</label>
                    <input type="number" class="form-control" name="cost" id="field_cost"
                        [(ngModel)]="schedule.cost" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="schedule.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rate">Rate</label>
                    <input type="number" class="form-control" name="rate" id="field_rate"
                        [(ngModel)]="schedule.rate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_text">Text</label>
                    <input type="text" class="form-control" name="text" id="field_text"
                        [(ngModel)]="schedule.text" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_startDate">Start Date</label>
                    <div class="d-flex">
                        <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" [(ngModel)]="startDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_endDate">End Date</label>
                    <div class="d-flex">
                        <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" [(ngModel)]="endDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_allDay">All Day</label>
                    <input type="checkbox" class="form-control" name="allDay" id="field_allDay"
                        [(ngModel)]="schedule.allDay" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_field">Field</label>
                    <select class="form-control" id="field_field" name="field" [(ngModel)]="schedule.fieldId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fieldOption.id" *ngFor="let fieldOption of fields; trackBy: trackFieldById">{{fieldOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
