<div>
    <h2 id="page-heading">
        <span>Bookings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-booking" [routerLink]="['/booking/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Booking
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bookings">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>State</span></th>
            <th><span>Date Reg</span></th>
            <th><span>Date</span></th>
            <th><span>Start Hour</span></th>
            <th><span>End Hour</span></th>
            <th><span>Text</span></th>
            <th><span>Start Date</span></th>
            <th><span>End Date</span></th>
            <th><span>All Day</span></th>
            <th><span>Description</span></th>
            <th><span>Field</span></th>
            <th><span>Schedule</span></th>
            <th><span>Client Final</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let booking of bookings ;trackBy: trackId">
                <td><a [routerLink]="['/booking', booking.id, 'view' ]">{{booking.id}}</a></td>
                <td>{{booking.state}}</td>
                <td>{{booking.dateReg | date:'mediumDate'}}</td>
                <td>{{booking.date | date:'mediumDate'}}</td>
                <td>{{booking.startHour}}</td>
                <td>{{booking.endHour}}</td>
                <td>{{booking.text}}</td>
                <td>{{booking.startDate | date:'medium'}}</td>
                <td>{{booking.endDate | date:'medium'}}</td>
                <td>{{booking.allDay}}</td>
                <td>{{booking.description}}</td>
                <td>
                    <div *ngIf="booking.fieldId">
                        <a [routerLink]="['../field', booking.fieldId , 'view' ]" >{{booking.fieldId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="booking.scheduleId">
                        <a [routerLink]="['../schedule', booking.scheduleId , 'view' ]" >{{booking.scheduleId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="booking.clientFinalId">
                        <a [routerLink]="['../client-final', booking.clientFinalId , 'view' ]" >{{booking.clientFinalId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/booking', booking.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/booking', booking.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'booking/'+ booking.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
