
<div *ngIf="client">
    <h2><span>Client</span> {{client.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{client.name}}</span>
        </dd>
        <dt><span>Sur Name</span></dt>
        <dd>
            <span>{{client.surName}}</span>
        </dd>
        <dt><span>Type Id</span></dt>
        <dd>
            <span>{{client.typeId}}</span>
        </dd>
        <dt><span>Number Id</span></dt>
        <dd>
            <span>{{client.numberId}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{client.email}}</span>
        </dd>
        <dt><span>Mobile</span></dt>
        <dd>
            <span>{{client.mobile}}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
            <span>{{client.address}}</span>
        </dd>
        <dt><span>Contact Name</span></dt>
        <dd>
            <span>{{client.contactName}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{client.status}}</span>
        </dd>
        <dt><span>Date Suscription</span></dt>
        <dd>
            <span>{{client.dateSuscription | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Comment</span></dt>
        <dd>
            <span>{{client.comment}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
