<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFieldLabel">Create or edit a Field</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!field.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="field.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="field.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="field.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                [(ngModel)]="field.comment" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_numPlayers">Num Players</label>
            <input type="number" class="form-control" name="numPlayers" id="field_numPlayers"
                [(ngModel)]="field.numPlayers" required/>
            <div [hidden]="!(editForm.controls.numPlayers?.dirty && editForm.controls.numPlayers?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.numPlayers?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.numPlayers?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_typeField">Type Field</label>
            <select class="form-control" name="typeField" [(ngModel)]="field.typeField" id="field_typeField"  required>
                <option value="GRASS">GRASS</option>
                <option value="CONCRET">CONCRET</option>
            </select>
            <div [hidden]="!(editForm.controls.typeField?.dirty && editForm.controls.typeField?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.typeField?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_typeSport">Type Sport</label>
            <select class="form-control" name="typeSport" [(ngModel)]="field.typeSport" id="field_typeSport"  required>
                <option value="FUTBOL">FUTBOL</option>
                <option value="VOLLEYBALL">VOLLEYBALL</option>
                <option value="BASKETBALL">BASKETBALL</option>
            </select>
            <div [hidden]="!(editForm.controls.typeSport?.dirty && editForm.controls.typeSport?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.typeSport?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_state">State</label>
            <select class="form-control" name="state" [(ngModel)]="field.state" id="field_state"  required>
                <option value="MAINTENANCE">MAINTENANCE</option>
                <option value="AVAILABLE">AVAILABLE</option>
                <option value="LOCKED">LOCKED</option>
            </select>
            <div [hidden]="!(editForm.controls.state?.dirty && editForm.controls.state?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.state?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_campus">Campus</label>
            <select class="form-control" id="field_campus" name="campus" [(ngModel)]="field.campusId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="campusOption.id" *ngFor="let campusOption of campuses; trackBy: trackCampusById">{{campusOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
