<div>
    <h2>
        <span>Campuses</span>
        <button class="btn btn-primary float-right jh-create-entity create-campus" [routerLink]="['/', { outlets: { popup: ['campus-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Campus
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="campuses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nombre</span></th>
            <!--<th><span>Description</span></th>-->
            <!--<th><span>Comment</span></th>-->
            <th><span>Open Time</span></th>
            <th><span>Close Time</span></th>
            <!--<th><span>Aditional</span></th>-->
            <th><span>Addresss</span></th>
            <!--<th><span>Reference</span></th>-->
            <th><span>Latitude</span></th>
            <th><span>Longitude</span></th>
            <!--<th><span>Cod Postal</span></th>-->
            <th><span>Status</span></th>
            <!--<th><span>Rating</span></th>-->
            <th><span>Client</span></th>
            <!--<th><span>Userapp</span></th>-->
            <th><span>District</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campus of campuses ;trackBy: trackId">
                <td><a [routerLink]="['../campus', campus.id ]">{{campus.id}}</a></td>
                <td>{{campus.name}}</td>
                <!--<td>{{campus.description}}</td>-->
                <!--<td>{{campus.comment}}</td>-->
                <td>{{campus.openTime}}</td>
                <td>{{campus.closeTime}}</td>
                <!--<td>{{campus.aditional}}</td>-->
                <td>{{campus.addresss}}</td>
                <!--<td>{{campus.reference}}</td>-->
                <td>{{campus.latitude}}</td>
                <td>{{campus.longitude}}</td>
                <!--<td>{{campus.codPostal}}</td>-->
                <td>{{campus.status}}</td>
                <!--<td>{{campus.rating}}</td>-->
                <td>
                    <div *ngIf="campus.clientDto">
                        <a [routerLink]="['../client', campus.clientDto.id  ]" >{{campus.clientDto.name}}</a>
                    </div>
                </td>
                <!--<td>-->
                    <!--<span *ngFor="let userapp of campus.userapps; let last = last">-->
                            <!--<a class="form-control-static" [routerLink]="['../user-app', userapp?.id ]">{{userapp.id}}</a>{{last ? '' : ', '}}-->
                        <!--</span>-->
                <!--</td>-->
                <td>
                    <div *ngIf="campus.districtId">
                        <a [routerLink]="['../district', campus.districtId  ]" >{{campus.districtId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../campus', campus.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campus/'+ campus.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'campus/'+ campus.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
