<div class="row">
    <div class="col-md-3">
        <form name="editForm" role="form" novalidate #editForm="ngForm">

            <div *jhiHasAnyAuthority="'ROLE_ADMIN'" class="form-group">
                <label class="form-control-label" for="field_client">Client</label>
                <select class="form-control" id="field_client" name="client" [(ngModel)]="homeModel.clientId" (ngModelChange)="onChangeClient($event)">
                    <option [ngValue]="null"></option>
                    <option *ngFor="let clientOption of clients" [ngValue]="clientOption.id">{{clientOption.name}}</option>
                </select>
            </div>
            <div *jhiHasAnyAuthority="'ROLE_USER'">
                <div *ngIf="homeModel.clientId" class="form-group"  >
                    <label class="form-control-label" for="field_campus">Campus</label>
                    <select class="form-control" id="field_campus" name="campus" [(ngModel)]="homeModel.campusId" (ngModelChange)="onChangeCampus($event)">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let campusOption of campuses" [ngValue]="campusOption.id">{{campusOption.name}}</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="homeModel.campusId && homeModel.clientId">
                    <label class="form-control-label" for="field_field">Field</label>
                    <select class="form-control" id="field_field" name="field" [(ngModel)]="homeModel.fieldId" (ngModelChange)="onChangeField($event)">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let fieldOption of fields; trackBy: trackFieldById" [ngValue]="fieldOption.id">{{fieldOption.name}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-9">
        <div *ngIf="homeModel.fieldId" class="dx-viewport" >
            <dx-scheduler
                id="scheduler"
                [(dataSource)]="bookings"
                [views]='["day", "week", "month"]'
                currentView="week"
                [currentDate]="currentDate"
                [startDayHour]="8"
                [cellDuration]="60"
                [showAllDayPanel]="false"
                [height]="600"
                [maxAppointmentsPerCell]="1"
                (onAppointmentFormCreated)="onAppointmentFormCreated($event)"
                (onAppointmentAdded)="onAppointmentAdded($event)"
                (onAppointmentAdding)="onAppointmentAdding($event)">
                <dxo-editing
                             [allowAdding]="true"
                             [allowUpdating]="true"
                             [allowDeleting]="true"
                             [allowResizing]="false"
                             [allowDragging]="false">
                </dxo-editing>
                <!--<dxi-resource-->
                    <!--fieldExpr="fieldId"-->
                    <!--[dataSource]="homeModel.fieldId">-->
                <!--</dxi-resource>-->
            </dx-scheduler>
        </div>
    </div>
</div>


