<div>
    <h2 id="page-heading">
        <span>Districts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-district" [routerLink]="['/district/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new District
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="districts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span>Codigo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="provinceId"><span>Provincia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="departmentId"><span>Departamento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let district of districts ;trackBy: trackId">
                <td><a [routerLink]="['/district', district.id, 'view' ]">{{district.id}}</a></td>
                <td>{{district.name}}</td>
                <td>{{district.code}}</td>
                <td>
                    <div *ngIf="district.provinceDto">
                        <a [routerLink]="['../province', district.provinceDto.id, 'view'  ]" >{{district.provinceDto.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="district.provinceDto.departmentDto">
                        <a [routerLink]="['../department', district.provinceDto.departmentDto.id, 'view'  ]" >{{district.provinceDto.departmentDto.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/district', district.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/district', district.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'district/'+ district.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
